.usageBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.usageTable {
  width: 100%;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
}
